---
title: About Us
layout: layout.njk
---

    <section class="overflow-y-auto grow flex flex-col">

  <div class="grid lg:grid-cols-2 grow">
      <figure class="hidden md:flex md:flex-col md:items-center md:justify-center md:bg-slate-200">
        <img src="/assets/images/survik-office.webp" alt="Survik Software Ltd pune" class="lg:w-4/5">
      </figure>
      
             <article class="p-4 *:mb-4">
              <p>Established in the year 1994, <strong>Survik Software</strong> is a global IT services company focused on development of software, IT consulting and provides offshore outsourcing solutions to enterprises worldwide.</p>
      
      <p>At Survik we believe that in order to benefit from offshore outsourcing, it is imperative that you continue to control the system. Our partnership led service approach, addresses the critical components which ensure a long term successful offshore IT Outsourcing strategy for our clients.</p>
      
      <p>With shrinking global economies and cost competitiveness, technology leaders are in need to find out the right outsourcing partners who can share and collaborate to achieve their business goals, mitigate business risks and can deliver consistent performance.</p>
      
      <p>As a leading offshore IT outsourcing company Survik has emerged as a preferred partner for offshore IT outsourcing requirements of all categories.</p>
      </article>
  </div>
      
     
    

    </section>

