---
title: Home
layout: layout.njk
hideFooter: true
---

  <section class="slider grow" aria-label="Image Slider">
  <ul class="slides ">
    <li class="slide">
      <img src="assets/images/survik-software-job-offer.webp" alt="we are not just offering jobs! we are crafting careers that inspire-survik software">
      <h2 class="caption w-8/12 lg:w-[30%] font-bold">We Are Not Just Offering Jobs! We Craft Careers That Inspire.</h2>
    </li>
    <li class="slide">
      <img src="assets/images/survik-software-journey-with-us-2.webp" alt="more than a job! it's a joutney with us survik software">
      <h2 class="caption w-8/12 lg:w-[30%] font-bold">More Than A Job! It'S A Joutney With Us</h2>
    </li>
    <li class="slide">
      <img src="assets/images/survik-software-empower-career.webp" alt="empower your carrer-survik software">
      <h2 class="caption w-8/12 lg:w-[30%] font-bold">Empower Your Carrer</h2>
    </li>
  </ul>

  <button class="arrow left !hidden md:!block"  aria-label="Previous slide" title="Previous"><i class="fa-regular fa-chevron-left "></i></button>
  <button class="arrow right !hidden md:!block" aria-label="Next slide"     title="Next"><i class="fa-regular fa-chevron-right "></i></button>

  <div class="dots" role="tablist" aria-label="Slide navigation"></div>
</section>