---
title: Industries
layout: layout.njk
---
<article
  class="overflow-y-auto grow flex flex-col relative offerings bg-[url('/assets/images/services-imgs/istockphoto-1178515843-2048x2048-our-offerings.jpg')] bg-no-repeat bg-cover">
  <div class="absolute inset-0 bg-gradient-to-t from-white/95 from-40% backdrop-blur-xs h-screen"></div>
  <ul id="verticalTabs" role="tablist" aria-orientation="vertical"
    class=" z-10 pl-2 py-4 *:grid *:grid-cols-1 xl:*:grid-cols-[auto_1fr]  *:bg-white/95  *:rounded-md *:p-4 grid xl:grid-cols-2 w-10/12 mx-auto gap-4">
    <li>

      <figure class="col-span-2 2xl:col-span-1">
        <img src="/assets/images/services-imgs/istockphoto-1354388102-2048x2048_flexible-placement.webp"
          class="aspect-video rounded-lg 2xl:max-w-80 md:mb-6" alt="Survik serves staffing services in the Manufacturing domain" />
      </figure>
      <section>
        <h2>Flexible Placements</h2>
        <p>Survik staffing services helps you hire employees on a temporary basis, giving you the flexibility you need
          to
          manage your business. As an experienced employment agency, we manage the entire recruitment process, starting
          from candidate search and screening, to onboarding and training, and even payroll and administration.</p>
      </section>

    </li>
    <li>
      <figure class="col-span-2 2xl:col-span-1">
        <img src="/assets/images/services-imgs/istockphoto-2160568351-2048x2048_lateral-hiring.webp"
          class="aspect-video rounded-lg 2xl:max-w-80 md:mb-6"
          alt="Survik serves staffing services in the logistics domain" />
      </figure>
      <section>
        <h2>Permanent Staffing</h2>
        <p>We cover the entire recruitment process from talent acquisition to advising organizations on how to secure
          the
          very best permanently hired talent. From standard permanent recruitment models all the way to mass
          recruitment,
          Survik is the trusted recruitment Partner for thousands of businesses every single day.</p>
      </section>
    </li>
    <li>
      <figure class="col-span-2 2xl:col-span-1">
        <img src="/assets/images/services-imgs/istockphoto-1630774197-2048x2048_training.webp"
          class="aspect-video rounded-lg 2xl:max-w-80 md:mb-6"
          alt="Survik serves staffing services in the Banking, Financial Services, and Insurance domain" />
      </figure>
      <section>
        <h2>Train to Hire</h2>
        <p>We take immense pleasure to turn your heads to our trailblazing model of human resource.Train-to-Hire model,
          a
          step towards future of human resource. Working for last 20 years in the business we found out that an
          experienced and well trained candidate is always a plus.With Train-to-Hire model Survik makes sure to Screen
          and
          Train.candidates with the project centric customized training plan and make them ready to deploy for client.
        </p>
      </section>
    </li>
    <li>
      <figure class="col-span-2 2xl:col-span-1">
        <img src="/assets/images/services-imgs/istockphoto-1475088073-2048x2048_outsourcing.webp"
          class="aspect-video rounded-lg 2xl:max-w-80 md:mb-6"
          alt="Survik serves staffing services in the Banking, Financial Services, and Insurance domain" />
      </figure>
      <section>
        <h2>Outsourcing</h2>
        <p>As the leading outsourcing company, Survik offers flexible and economical solutions to meet your business
          needs. Our outsourcing services allow you to directly increase productivity, speed and scale, reduce costs
          .Our
          success has been dependent on Answering the requirement, helping customer get the latest IT solutions with
          offshore outsourcing model with our global presence</p>
      </section>

    </li>
    <li>
      <figure class="col-span-2 2xl:col-span-1">
        <img src="/assets/images/services-imgs/istockphoto-1411819523-2048x2048_intime-hiring.webp"
          class="aspect-video rounded-lg 2xl:max-w-80 md:mb-6"
          alt="Survik serves staffing services in the Retail Industry domain" />
      </figure>
      <section>
        <h2>Contract Staffing</h2>
        <p>We offer IT contract consulting services that keep pace with your ever-changing needs.This provides you the
          needed flexibility in terms of expertise, experience and duration required all without administrative hassles
          most employees face.</p>
      </section>
    </li>
    <li>
      <figure class="col-span-2 2xl:col-span-1">
        <img src="/assets/images/services-imgs/istockphoto-1491247578-2048x2048-project-staffing.webp"
          class="aspect-video rounded-lg 2xl:max-w-80 md:mb-6"
          alt="Survik serves staffing services in the support and meaintenance domain" />
      </figure>
      <section>
        <h2>Project Staffing</h2>
        <p>We provide Resource to manage projects from beginning of project till its completion from our pool of
          resources. We have resources experienced on different platforms and have exposure of various commercial
          applications on Different Operating systems and database. Our Project staffing services allow you to directly
          increase productivity,speed and scale and increase your profitability.</p>
      </section>

    </li>

  </ul>
</article>